<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.controlelec.mapper.DeviceOnlineWarnMapper">
    <select id="getOnlineWarn" parameterType="String" resultType="com.example.controlelec.bean.DeviceOnlineWarnBean">
    SELECT
    SADA.STAKE_NAME stakeName,
    EOW.PORT port,
    EOW.STATUS status,
    EOW.WARN_START_TIME warnStartTIme,
    EOW.WARN_END_TIME warnEndTime
    FROM E_ONLINE_WARN EOW RIGHT JOIN (SELECT SAD.STAKE_NAME ,SAD.STAKE_NO FROM SZ_ASSET_DEVICE SAD where 1 = 1
    <if test="uuid != null and uuid != ''">
        and SAD.USER_UUID = #{uuid}
    </if>
    ) AS SADA ON EOW.DEVICE_ID = SADA.STAKE_NO WHERE EOW.WARN_START_TIME >= #{date} AND EOW.DEVICE_ID IS NOT NULL ORDER BY EOW.WARN_START_TIME DESC
    </select>
</mapper>
